<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <title>movies</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h1 class="home__title">Welcome, Here's All Our Movies</h1>

    <ul>
        <% movies.forEach(movie => {%>
            <li class="list">
                <a href="/movie/<%=movie.id%>" class="link">
                    <h3 class="title"><%=movie.title%></h3>
                </a>
            </li>
        <%});%>
    </ul>
    <%- include('./partials/footer.ejs') %>
</body>
</html>